.body3 {
  font-family: 'Arial', sans-serif;
  background-color: yellow;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: pink; /* White background */
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 90%; /* Reduce width to allow margins */
  max-width: 900px; /* Max width for better responsiveness */
  padding: 20px;
  margin: 0 10px; /* Add margins for space on small screens */
}

/* New class for when the table is displayed */
.table-active {
  background-color: lightblue; /* Change this to your desired color */
}

.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #dee2e6;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
}

.input, select {
  width: 95%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #007bff;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.success-message {
  color: #28a745;
}
